<section class="portfolio active">
  <h2 class="heading">Lastest <span>Project</span></h2>
  <div class="portfolio-container">
    
    <div class="portfolio-box">
      <div class="portfolio-detail active">
        <p class="numb">{{ projects[index].number }}</p>
        <h3>{{ projects[index].title }}</h3>
        <p>{{ projects[index].description }}</p>
        <div class="tech">
          <p><strong>{{ projects[index].tech }}</strong></p>
        </div>
        <div class="live-github">
          <a [href]="projects[index].liveLink" target="_blank">
            <i class="fa-solid fa-arrow-left-long"></i><span>Live Project</span>
          </a>
          <a [href]="projects[index].githubLink" target="_blank">
            <i class="fa-brands fa-github"></i><span>Github Repository</span>
          </a>
        </div>
      </div>
    </div>

    <div class="portfolio-box">
      <div class="portfolio-carousel">
        <div class="img-slide">
          <div class="img-item">
            <img [src]="projects[index].image" alt="{{ projects[index].title }}">
          </div>
        </div>
      </div>

      <div class="navigation">
        <button class="arrow-left" [class.disabled]="index === 0" (click)="previousProject()">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button class="arrow-right" [class.disabled]="index === projects.length - 1" (click)="nextProject()">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>

  </div>
</section>
