<section class="portfolio active">
    <h2 class="heading">Lastest <span>Project</span></h2>
    <div class="portfolio-container">
      <div class="portfolio-box">
        <div class="portfolio-detail active">
          <p class="numb">01</p>
          <h3>Frontend Project</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, esse quasi! Commodi quam vitae error accusamus asperiores amet est rerum.</p>
          <div class="tech">
            <p><strong>HTML5, CSS3 , Javascript</strong></p>

          </div>
          <div class="live-github">
            <a href="#"><i class="fa-solid fa-arrow-left-long"></i><span>Live Project</span></a>
            <a href="#"><i class="fa-brands fa-github"></i><span>Github Repository</span></a>

          </div>
        </div>

        <div class="portfolio-detail ">
          <p class="numb">02</p>
          <h3>Abed0</h3>
        </div>

        <div class="portfolio-detail">
          <p class="numb">03</p>
        </div>

        <div class="portfolio-detail">
          <p class="numb">04</p>
        </div>
        <div class="portfolio-detail">
          <p class="numb">05</p>
        </div>
        <div class="portfolio-detail">
          <p class="numb">06</p>
        </div>
      </div>

      <div class="portfolio-box">
        <div class="portfolio-carousel">
          <div class="img-slide">
            <div class="img-item">
              <img src="./img/projet.jpg" alt="">
            </div>
            <div class="img-item">
              <img src="./img/project-management.png" alt="">
            </div>
          </div>
        </div>
        <div class="navigation">
          <button class="arrow-left disabled"><i class="fa-solid fa-chevron-left"></i></button>
          <button class="arrow-right"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
      </div>
    </div>

  </section>

