<header class="navbar">
    <div class="presentation">
        <h2 class="nom">Abed Bridja</h2>
    </div>
    <div>
        <ul id="list">
            <li>
                <i class="fa-solid fa-house"></i>
                <a class="active" href="#">Accueil</a>
            </li>
            <li>
                <i class="fa-solid fa-school"></i>
                <a  href="#">Parcours</a>
            </li>
            <li>
                <i class="fa-regular fa-address-book"></i>
                <a  href="#">Portfolio</a>
            </li>
            <li>
                <i class="fa-regular fa-circle-user"></i>
                <a href="#">Contact</a>
            </li>

        </ul>
    </div>
   
</header>