<header class="navbar">
    <div class="presentation">
        <h2 class="nom">Abed Bridja</h2>
    </div>
    <div>
        <ul id="list">
            <li>
                <i class="fa-solid fa-house"></i>
                <a class="active" routerLink="/home">Accueil</a>
            </li>
            <li>
                <i class="fa-solid fa-school"></i>
                <a  routerLink="/education">Parcours</a>
            </li>
            <li>
                <i class="fa-regular fa-address-book"></i>
                <a  routerLink="/experience">Portfolio</a>
            </li>
            <li>
                <i class="fa-regular fa-circle-user"></i>
                <a routerLink="/contact">Contact</a>
            </li>

        </ul>
    </div>
   
</header>