.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: var(--bg-color);
    position: relative;      /* Nécessaire pour que z-index fonctionne */
    z-index: 10;
}

.presentation{
    display: flex;
    align-items: center;
}
.presentation .nom{
    color: var(--white-color);
    align-items: center;
    font-size: 3em;
    font-weight: bold;
}

.burger {
    display: none;
    background: none;
    border: none;
    font-size: 3em;
    color: var(--white-color);
    cursor: pointer;
}


#list {
    list-style: none;
    display: flex;
}

#list li{
    margin-left: 25px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    
}

#list li a{
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    transition: border-color 0.3s, transform 0.3s;
    border-bottom: 2px solid transparent;
    padding: 2px 0;
    font-size: 2em;
    display: inline-block;
}

#list li i{
    display: block;
    padding: 5px 0;
    color: var(--white-color);
    font-size: 1.5rem;
}

#list li a:hover {
    transform: translateY(5px); 
    border-bottom: 2px solid #ecf0f1 ; 
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }

    #list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--bg-color);
        width: 100%;
        padding: 20px;
        text-align: right;
    }

    #list.open {
        display: flex;
    }

    #list li {
    margin: 0;
    padding: 15px 0;
    border-top: 1px solid white;
    border-top-left-radius: 10px;
    
  }

  #list li:first-child {
    border-top: none;
  }
}