<section class="resume active">
    <div class="resume-container">
        <div class="resume-box">
            <h2>Pourquoi me recruter?</h2>
            <p class="desc">Étudiant passionné par l'informatique, je m'investis pleinement dans chaque projet que j'entreprends. Grâce à ma formation, j'ai acquis des bases solides que je continue de renforcer. 
              Je suis motivé, curieux et prêt à apprendre pour contribuer au mieux aux missions qui me seront confiées.</p>
            <button class="resume-btn" [ngClass]="{'active': activeSection === 'experience'}" (click)="setActiveSection('experience')">Experience</button>
            <button class="resume-btn" [ngClass]="{'active': activeSection === 'education'}" (click)="setActiveSection('education')">Formation</button>
            <button class="resume-btn" [ngClass]="{'active': activeSection === 'skill'}" (click)="setActiveSection('skill')">Compétences</button>
            <button class="resume-btn" [ngClass]="{'active': activeSection === 'about'}" (click)="setActiveSection('about')">Sur moi</button>
    

        </div>

        <div class="resume-box">
            <div class="resume-detail experience" *ngIf="activeSection === 'experience'">
                <h2 class="heading">My <span>Experience</span></h2>
                <p class="desc"> Vous trouverez ici un aperçu de mes expériences professionnelles réalisées dans différentes entreprises, au cours de mon parcours.</p>
                <div class="resume-list">
                    <div class="resume-item">
                        <p class="year">Avril 2025 - Juin 2025</p>
                        <h3>Stage informatique </h3>
                        <p class="company">Yesil Conseil</p>
                        <p>Création d'un site web pour l'entreprise en Angular, avec TailwindCSS pour le design et intégration d'API pour la gestion des données.</p>
                    </div>
                    

                    

                </div>
            </div>

            <div class="resume-detail education" *ngIf="activeSection === 'education'">
                <h2 class="heading">My <span>Education</span></h2>
                <p class="desc">Voici mon parcours scolaire et universitaire :</p>
                <div class="resume-list">
                    <div class="resume-item">
                        <p class="year">2023 - 2025</p>
                        <h3>DUT informatique</h3>
                        <p class="company">IUT de Fontainebleau</p>
                        <p>Formation en développement informatique, bases de données, réseaux, systèmes, avec projets pratiques en équipe et en autonomie.</p>

                    </div>

                    <div class="resume-item">
                        <p class="year">2023</p>
                        <h3>Baccalauréat Général</h3>
                        <p class="company">Lycée Sonia Delaunay, Vert-Saint-Denis</p>
                        <p>Spécialités Mathématiques et Physique-Chimie — Mention Assez Bien.</p>

                    </div>
                </div>

            </div>

            <div class="resume-detail skills" *ngIf="activeSection === 'skill'">
                <h2 class="heading">My <span>Skills</span></h2>
                <p class="desc">Voici un aperçu structuré de mes compétences techniques :</p>
              
                
               
                <div class="resume-category">
                  <h3>Langages de programmation</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-c-programming-100.png" alt=""><span>C</span></div>
                    <div class="resume-item"><img src="./img/icons8-java-100.png" alt=""><span>JAVA</span></div>
                    
                  </div>
                </div>
              
                
                <div class="resume-category">
                  <h3>Langages de développement web</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-html-5-100.png" alt=""><span>HTML5</span></div>
                    <div class="resume-item"><img src="./img/icons8-css3-100.png" alt=""><span>CSS3</span></div>
                    <div class="resume-item"><img src="./img/icons8-javascript-48-100x100.png" alt=""><span>JAVASCRIPT</span></div>
                    <div class="resume-item"><img src="./img/icons8-typescript-96.png" alt=""><span>TYPESCRIPT</span></div>
                    <div class="resume-item"><img src="./img/icons8-php-100.png" alt=""><span>PHP</span></div>
                  </div>
                </div>
              
               
                <div class="resume-category">
                  <h3>Frameworks & bibliothèques</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-angular-48-100x100.png" alt=""><span>ANGULAR</span></div>
                    <div class="resume-item"><img src="./img/icons8-tailwindcss-96.png" alt=""><span>TAILWINDCSS</span></div>
                  </div>
                </div>
              

                <div class="resume-category">
                  <h3>Développement mobile</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-android-studio-96.png" alt=""><span>ANDROID STUDIO</span></div>
                  </div>
                </div>
              
               
                <div class="resume-category">
                  <h3>Virtualisation & conteneurisation</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-docker-96.png" alt=""><span>DOCKER</span></div>
                  </div>
                </div>
              
              
                <div class="resume-category">
                  <h3>UI/UX & Design</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-figma-100.png" alt=""><span>FIGMA</span></div>
                  </div>
                </div>
              
                
                <div class="resume-category">
                  <h3>Outils de versioning</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-git-96.png" alt=""><span>GIT</span></div>
                    <div class="resume-item"><img src="./img/icons8-github-logo-96.png" alt=""><span>GITHUB</span></div>
                  </div>
                </div>
            
                <div class="resume-category">
                  <h3>Bases de données</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-mysql-96.png" alt=""><span>MYSQL</span></div>
                    <div class="resume-item"><img src="./img/icons8-firebase-96.png" alt=""><span>FIREBASE</span></div>
                  </div>
                </div>
              
                
                <div class="resume-category">
                  <h3>Systèmes d'exploitation</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-linux-96 (1).png" alt=""><span>LINUX</span></div>
                   
                  </div>
                </div>
              </div>
              
            
            <div class="resume-detail about" *ngIf="activeSection === 'about'">
                <h2 class="heading">About <span>Me</span></h2>
                <p class="desc">Je suis étudiant en informatique, passionné par le développement web et les nouvelles technologies, toujours motivé pour apprendre et relever de nouveaux défis.</p>
                <div class="resume-list">
                  <div class="resume-item">
                    <p><strong>Nom</strong> <span>Abed Bridja</span></p>
                  </div>
                  <div class="resume-item">
                    <p><strong>Age</strong> <span>19 ans</span></p>
                  </div>
                  <div class ="resume-item">
                    <p><strong>Ville</strong> <span>Cesson</span></p>
                  </div>
                  <div class="resume-item">
                    <p><strong>Nationalité</strong> <span>Française</span></p>
                  </div>

                  <div class="resume-item">
                    <p><strong>Téléphone</strong> <span>07.81.94.32.88</span></p>
                  </div>

                  <div class="resume-item">
                    <p><strong>Email</strong> <span>bridja.pro&#64;gmail.com</span></p>
                  </div>

                  <div class="resume-item">
                    <p><strong>Langues</strong> <span>Français et Anglais</span></p>
                  </div>

                  <br>

                  <div class="resume-item">
                    <p><strong>Centres d'intérêt</strong> <span>Programmation, nouvelles technologies, sport, voyages</span></p>
                </div>
                </div>
            </div>
        </div>
    </div>



</section>