<section class="resume active">
    <div class="resume-container">
        <div class="resume-box">
            <h2>Why Hire Me?</h2>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident laudantium culpa sed enim repellat quia cupiditate blanditiis quidem non est?</p>
            <button class="resume-btn" [ngClass]="{'active': activeSection === 'experience'}" (click)="setActiveSection('experience')">Experience</button>
            <button class="resume-btn" [ngClass]="{'active': activeSection === 'education'}" (click)="setActiveSection('education')">Formation</button>
            <button class="resume-btn" [ngClass]="{'active': activeSection === 'skill'}" (click)="setActiveSection('skill')">Compétences</button>
            <button class="resume-btn" [ngClass]="{'active': activeSection === 'about'}" (click)="setActiveSection('about')">Sur moi</button>
    

        </div>

        <div class="resume-box">
            <div class="resume-detail experience" *ngIf="activeSection === 'experience'">
                <h2 class="heading">My <span>Experience</span></h2>
                <p class="desc">Contenu de l'expérience...</p>
                <div class="resume-list">
                    <div class="resume-item">
                        <p class="year">Avril 2025 - Juin 2025</p>
                        <h3>Stage </h3>
                        <p class="company">Yesil Conseil</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, asperiores reprehenderit? Nisi molestiae reprehenderit sequi porro enim aliquam, consequatur facere?</p>
                    </div>
                    

                    

                </div>
            </div>

            <div class="resume-detail education" *ngIf="activeSection === 'education'">
                <h2 class="heading">My <span>Education</span></h2>
                <p class="desc">Contenu de l'éducation...</p>
                <div class="resume-list">
                    <div class="resume-item">
                        <p class="year">2024</p>
                        <h3>Programming Course</h3>
                        <p class="company"></p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic saepe, consequatur ratione doloremque recusandae dolores velit facilis amet omnis accusantium.</p>


                    </div>

                    <div class="resume-item">
                        <p class="year">2022-2021</p>
                        <h3>Programming Course</h3>
                        <p class="company"></p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic saepe, consequatur ratione doloremque recusandae dolores velit facilis amet omnis accusantium.</p>
                        

                    </div>

                    <div class="resume-item">
                        <p class="year">2024</p>
                        <h3>Programming Course</h3>
                        <p class="company"></p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic saepe, consequatur ratione doloremque recusandae dolores velit facilis amet omnis accusantium.</p>
                        

                    </div>
                </div>

            </div>

            <div class="resume-detail skills" *ngIf="activeSection === 'skill'">
                <h2 class="heading">My <span>Skills</span></h2>
                <p class="desc">Voici un aperçu structuré de mes compétences techniques :</p>
              
                
               
                <div class="resume-category">
                  <h3>Langages de programmation</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-c-programming-100.png" alt=""><span>C</span></div>
                    <div class="resume-item"><img src="./img/icons8-java-100.png" alt=""><span>JAVA</span></div>
                    
                  </div>
                </div>
              
                
                <div class="resume-category">
                  <h3>Langages de développement web</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-html-5-100.png" alt=""><span>HTML5</span></div>
                    <div class="resume-item"><img src="./img/icons8-css3-100.png" alt=""><span>CSS3</span></div>
                    <div class="resume-item"><img src="./img/icons8-javascript-48-100x100.png" alt=""><span>JAVASCRIPT</span></div>
                    <div class="resume-item"><img src="./img/icons8-typescript-96.png" alt=""><span>TYPESCRIPT</span></div>
                    <div class="resume-item"><img src="./img/icons8-php-100.png" alt=""><span>PHP</span></div>
                  </div>
                </div>
              
               
                <div class="resume-category">
                  <h3>Frameworks & bibliothèques</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-angular-48-100x100.png" alt=""><span>ANGULAR</span></div>
                  </div>
                </div>
              

                <div class="resume-category">
                  <h3>Développement mobile</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-android-studio-96.png" alt=""><span>ANDROID STUDIO</span></div>
                  </div>
                </div>
              
               
                <div class="resume-category">
                  <h3>Virtualisation & conteneurisation</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-docker-96.png" alt=""><span>DOCKER</span></div>
                  </div>
                </div>
              
              
                <div class="resume-category">
                  <h3>UI/UX & Design</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-figma-100.png" alt=""><span>FIGMA</span></div>
                  </div>
                </div>
              
                
                <div class="resume-category">
                  <h3>Outils de versioning</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-git-96.png" alt=""><span>GIT</span></div>
                    <div class="resume-item"><img src="./img/icons8-github-logo-96.png" alt=""><span>GITHUB</span></div>
                  </div>
                </div>
              
                <!-- Bases de données -->
                <div class="resume-category">
                  <h3>Bases de données</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-mysql-96.png" alt=""><span>MYSQL</span></div>
                    <div class="resume-item"><img src="./img/icons8-firebase-96.png" alt=""><span>FIREBASE</span></div>
                  </div>
                </div>
              
                
                <div class="resume-category">
                  <h3>Systèmes d'exploitation</h3>
                  <div class="resume-list">
                    <div class="resume-item"><img src="./img/icons8-linux-96 (1).png" alt=""><span>LINUX</span></div>
                    <div class="resume-item"><img src="./img/icons8-ubuntu-96.png" alt=""><span>UBUNTU</span></div>
                  </div>
                </div>
              </div>
              
            
            <div class="resume-detail about" *ngIf="activeSection === 'about'">
                <h2 class="heading">About <span>Me</span></h2>
                <p class="desc">Contenu à propos de toi...</p>
                <div class="resume-list">
                  <div class="resume-item">
                    <p><strong>Nom</strong> <span>Abed Bridja</span></p>
                  </div>

                  <div class="resume-item">
                    <p><strong>Gender</strong> <span>Male</span></p>
                  </div>

                  <div class="resume-item">
                    <p>Age <span>19 ans</span></p>
                  </div>
                  <div class ="resume-item">
                    <p>Ville <span>Cesson</span></p>
                  </div>
                  <div class="resume-item">
                    <p>Nationnalité <span>Française</span></p>
                  </div>

                  <div class="resume-item">
                    <p>Phone <span>07.81.94.32.88</span></p>
                  </div>

                  <div class="resume-item">
                    <p>Email <span>a.bridja7&#64;gmail.com</span></p>
                  </div>

                  <div class="resume-item">
                    <p>Langages <span>Français et Anglais</span></p>
                  </div>
                </div>
            </div>
        </div>
    </div>



</section>