
<section class="hero">
    <video autoplay muted loop playsinline class="bg-video">
        <source src="./assets/vagabon-miyamoto-musashi.1920x1080.mp4" type="video/mp4">
    </video>

    <div class="overlay"></div>

    <div class="essemble">
        <div class="home-detail">
            <h1 class="fade-in">Abed Bridja</h1>
            <h2 class="fade-in delay-1">Je suis étudiant en informatique</h2>
            <p class="fade-in delay-2">Étudiant en informatique passionné par le développement web et logiciel, j’explore différents domaines allant du frontend au backend, 
                en passant par les bases de données et les systèmes. J’aime apprendre de nouvelles technologies et les mettre en pratique à travers des projets concrets.</p>
    
            <div class="btn-sci fade-in delay-3">
                <a href="#" class="btn">Download CV</a>
                <div class="sci">
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
       
    </div>
</section>